@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.sidebar-campsite-page{
    height:100%;
    display: flex;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


.wrapper {
    display: flex;
    align-items: stretch;
    height:100%;


}
.campsite-option {
    border-top: black 1px solid;
    display: flex;
    align-items: center;
    width: 20vw;
}
.campsite-option .option-img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    background-color: #333333; }


#sidebar {
    max-width: 20vw;
    background: #AD5D5D;
    color: #fff;
    height:100vw;
    transition: all 0.3s;
    width: 20vw;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .campsites-sidebar-header h4 {
    padding: 30px;
    font-size: 20px !important;
    background: #7a4646
;
}

#sidebar ul.components {
    border-bottom: 1px solid #7a4646
;
}

#sidebar ul p {
    color: #fff;
}
#sidebar ul li {
    padding: 10px;
    width: 100%;
}

#sidebar ul li a {
    color: white;
    font-size: 1.1em;
    display: block;
    text-align: left;
    text-decoration: none;
}
.option-img-wrapper {
    margin-right: 20px; /* Ensures spacing between the image and text */
}
.campsite-option:hover {
    background: #f0f0f0;
}
#sidebar ul li a:hover {
    color: #7a4646;
    background: #f0f0f0;
}
.campsite-option.active {
    background-color: #ffffff;
    color: #7a4646;
}
.campsite-info p{
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
.campsite-option.active a {
    color: #7a4646 !important;
}
.campsite-option.active p {
    color: #7a4646 !important;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}





