*{
    font-family: 'Roboto Slab', serif !important;

}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/background_landing.png") center/cover no-repeat, linear-gradient(to bottom, white, #eadfe1 );
}
.profile-container .profile-box{
    height: fit-content;
    margin-top:50px;
    margin-bottom: 60px;
    width: 50vw;

}
.MuiFormLabel-root{
color: black !important;
}
.title1{
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    font-weight: normal !important;
    color: #2c3e50;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.username1{
    text-align: center;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}
.box1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.box1 .input-box{
    border: none !important;
}
.input-box::placeholder {
    color: #757575;
}
.profile-container .profile-pic-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.profile-pic{
    border: #2c3e50 1px solid;
    width:8vw;
    height:8vw;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
    cursor:pointer;
}
.overlay-text {
    position: absolute;
    top: 19%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    color: black;
    cursor:pointer;

}
.profile-pic:hover {
    filter: grayscale(100%);
}

.profile-pic:hover + .overlay-text {
    opacity: 1;
}
.textarea-container {
    width: 100%;
    position: relative;

}

.profile-container .character-counter p {
    position: absolute;
    right: 0;
    bottom: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    font-size: 1.2em;
    z-index: 1;
    color: #fff;
    margin-top: -20px;
    padding-left: 10px;
}
textarea {
    outline: none;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E8E8E8;

}

.profile-container .desc{
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    color: #4d4d4d;
    margin-top: 20px;
}

input[type="date"]:before {
    color: #757575;
}

.profile-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 35px;
    border-radius: 12px;
    width: 45vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.register-box .title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    color: #333;
}



.input-box:focus {
    outline: none;
    border-color: #ff6a85;
}

.profile-box .update-btn {
    width: 100%;
    background: #ff6a85;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
    height: 50px  !important;
}

.profile-box .update-btn:hover {
    background-color: #9b1a31 !important;
}

.skip-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skip-btn {
    width: 22%;
    background: white;
    color: black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.skip-btn:hover{
    background: #DADADA;
}

.profile-container .input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon > input, .input-icon > select {
    flex-grow: 1;
}


.tags-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #E8E8E8;
    cursor: text;
}

.tags-input input {
    border: none;
    background: none;
    outline: none;
    flex-grow: 1;
}

.tag {
    display: inline-flex;
    align-items: center;
    background: #ff6a85;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.tag span {
    margin-left: 5px;
    cursor: pointer;
}
verify-email-modal{
    width: 60vw !important;
    text-align: center;
}
